<!DOCTYPE html>

<% include admin-header %>   
 <% if (message) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
          <div class="row-fluid">
            <div id="dashboard-left" class="span8">
             <div class="panel panel-primary">  
                <div class="panel-body">
  					        <form id="LoginForm" role="form" class="form-horizontal" enctype="multipart/form-data" autocomplete="off"  method="post">
                      <!-- Imagem do parceiro -->
                      <center>
                      <p>
                        <div class="par">
                            <label>Realize o upload de sua logomarca (Tamanho recomendado 255x200 pixels até 100k)</label>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                              <div class="fileupload-preview thumbnail" style="width: 300px; height: 200px;"></div>
                              <div class="input-append">
                                  <div class="uneditable-input span3">
                                    <i class="iconfa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                  </div>
                                  <span class="btn btn-file"><span class="fileupload-new">Selecione uma imagem</span>
                                  <span class="fileupload-exists">Alterar</span>
                                  <input type="file" accept="image/*" class="form-control" id="logo" name="logo" required="required" /> 
                                  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                              </div>
                            </div>
                       </div>                                         
                      </p>
                      </center> 
                      <!-- Fim do parceiro -->


                        <!-- Campo Nome do Parceiro -->
                        <p>
                          <label>Nome do Parceiro&nbsp;</label>
                          <input type="text" class="input-block-level" id="nome_parceiro" name="nome_parceiro" placeholder="Nome do parceiro" required="required" />
                        </p>
                        <!-- Fim do Campo Nome do Parceiro -->

                        <!-- Campo Nome do Parceiro -->
                        <p>
                          <label>E-mail de contato&nbsp;</label>
                          <input type="text" class="input-block-level" id="email_contato" name="email_contato" placeholder="Digite o e-mail de contato" required="required" />
                        </p>
                        <!-- Fim do Campo Nome do Parceiro -->   

                        <!-- Data de cadastro do parceiro -->
                        <p>
                           <label>Data de cadastro</label>
                           <input type="text" name="data_cadastro" id="data_cadastro" maxlength="10" placeholder="Exemplo 01/01/2014" onkeypress="return dateMask(this, event);"/>

                        </p>
                        <!-- Fim Data de cadastro do parceiro  -->                     

                        <!-- Parceiro da notícia-->
                        <p>
                            <label>Categoria:</label>
                                <select name="categoria" id="categoria" required="required">
                                  <option value="">Selecione uma Categoria</option>
                                    <option value="Blog/Site">Blog/Site</option>          
                                    <option value="Loja">Loja</option>
                                    <option value="Página no Facebook">Página Facebook</option>
                                    <option value="Outros">Outros</option>
                                </select> 

                        </p>
                        <!-- Fim do Parceiro da notícia -->

                        <!-- Campo Site do Parceiro -->
                        <p>
                          <label>Site Oficial:</label>
                          <input type="text" class="input-block-level" id="site " name="site" placeholder="http://meusite.com" />
                        </p>
                        <!-- Fim do Campo Site do Parceiro -->

                        <!-- Campo Twitter do Parceiro -->
                        <p>
                           <label>Perfil Twitter</label>
                           <div class="input-prepend">
                              <span class="add-on">@</span>
                              <input type="text"  placeholder="Usuário" id="twitter" name="twitter" class="input-block-level" />
                           </div>
                        </p>
                        <!-- Fim Campo Twitter do Parceiro -->

                        <!-- Campo Facebook do Parceiro -->
                        <p>
                           <label>Página Facebook</label>
                           <div class="input-prepend">
                              <span class="add-on">www.facebook.com/</span>
                            <input type="text" name="facebook" id="facebook"class="input-block-level" placeholder="http://www.facebook.com/minhapagina" />
                           </div>
                        </p>
                        <!-- FIM do Campo Facebook do Parceiro -->

                        <!-- Campo Instagram do Parceiro -->
                        <p>
                           <label>Instagram</label>
                           <div class="input-prepend">
                              <span class="add-on">www.instagram.com/</span>
                              <input type="text" name="instagram" id="instagram" class="input-block-level" placeholder="Endereço Instagram" />
                           </div>
                        </p>
                        <!-- Fim do Campo Instagram do Parceiro -->

                        <!-- Campo Canal do Youtube do Parceiro -->
                        <p>
                          <label>Canal Youtube</label>
                          <div class="input-prepend">
                              <span class="add-on">www.youtube.com/</span>
                          <input type="text" name="canal_youtube" id="canal_youtube" class="input-block-level" placeholder="Endereço do canal" />
                          </div>
                        </p>
                        <!-- Fim do Campo Canal do Youtube do Parceiro -->

                        <p>
                          <div class="par">
                              <label>Banner 01 (Tamanho recomendado 900x385 até 100k)</label>
                              <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <span class="btn btn-file"><span class="fileupload-new">Selecione uma imagem</span>
                                    <span class="fileupload-exists">Alterar</span>
                                    <input type="file" accept="image/*" class="form-control" id="parceiro_banner01" name="parceiro_banner01" required="required" /> 
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                </div>
                              </div>
                         </div>  
                         <div class="par">
                              <label>Banner 02 (Tamanho recomendado 900x385 até 100k)</label>
                              <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <span class="btn btn-file"><span class="fileupload-new">Selecione uma imagem</span>
                                    <span class="fileupload-exists">Alterar</span>
                                    <input type="file" accept="image/*" class="form-control" id="parceiro_banner02" name="parceiro_banner02" required="required" /> 
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                </div>
                              </div>
                         </div>  
<!--                          <div class="par">
                              <label>Banner 03 (Tamanho recomendado 900x385 até 100k)</label>
                              <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <span class="btn btn-file"><span class="fileupload-new">Selecione uma imagem</span>
                                    <span class="fileupload-exists">Alterar</span>
                                    <input type="file" accept="image/*" class="form-control" id="parceiro_banner03" name="parceiro_banner03" required="required" /> 
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                </div>
                              </div>
                         </div>  -->                                       
                        </p>

                        <p>
                      <label><h4 class="widgettitle">Cadastre um conteúdo de descrição para o jogo</h4></label>                    
                      <textarea  class="ckeditor" name="editor1" id="editor1"></textarea>                           

                        </p>

                        <!-- Botão de Cadastrar -->
                        <p>
                          <center>
                            <button id="SubmitBtn" name="SubmitBtn" type="submit" class="btn btn-large btn-inverse">Cadastrar Parceiro</button>
                           </center>
                        </p>      
    						    </form>
						    </div>
						 </div>         
            </div>
        </div>
                <!-- Place inside the <head> of your HTML -->


    <script src="/editor/ckeditor.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script> 
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/admin/js/bootstrap.min.js" type="text/javascript"> </script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js"></script>
    <script type="text/javascript">

      $(document).ready(function () {
      var nome_parceiro = $("#nome_parceiro");
      var LoginForm = $('#LoginForm');
      var SubmitBtn = $('#SubmitBtn');
   
      LoginForm.validate();
   
      nome_parceiro.rules("add", {
        required: true,
        messages: {
          required: "Titulo é obrigatório."
        }
      });
   
      $('#LoginForm').submit(function () {
        if ($(this).valid()) {
          $('#SubmitBtn').prop('disabled', true);
          return true;
        }
        return false;
      });
   
    });

  jQuery(document).ready(function(){
    
    jQuery('.taglist .close').click(function(){
      jQuery(this).parent().remove();
      return false;
    });
    
  });
</script>


<% include admin-footer %>    


