<!DOCTYPE html>

<% include admin-header %>   
 <% if (message) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
          <div class="row-fluid">
            <div id="dashboard-left" class="span8">
	 					 <div class="panel panel-primary">  

						    <div class="panel-body">
  						    <form id="LoginForm" role="form" class="form-horizontal" enctype="multipart/form-data" autocomplete="off"  method="post">

                    <!-- Imagem de capa da notícia -->
                    <center>
                      <div class="par">
                          <label>Capa da publicação (Tamanho recomendado 300x200 pixels até 100k)</label>
                          <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-preview thumbnail" style="width: 300px; height: 200px;"></div>
                            <div class="input-append">
                                <div class="uneditable-input span3">
                                  <i class="iconfa-file fileupload-exists"></i>
                                  <span class="fileupload-preview"></span>
                                </div>
                                <span class="btn btn-file"><span class="fileupload-new">Selecione uma imagem</span>
                                <span class="fileupload-exists">Alterar</span>
                                <input type="file" accept="image/*" class="form-control" id="capa" name="capa" required="required" /> 
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a></span>
                            </div>
                          </div>
                     </div>                                         
                    </center> 
                    <!-- Fim da Imagem de capa da notícia -->

                    <!-- Título da Notícia -->
                      <label for="titulo">Cadastre um título para sua publicação</label>
                      <input type="text" class="input-block-level" id="titulo" name="titulo" placeholder="Digite o titulo da noticia" required="required" />
                    <!-- Fim Título da Notícia -->

                    <!-- Data de Publicação -->
                      <div id="datainicio">
                        <label for="datafinal">Selecione a data inicial de exibição</label>
                        <input type="text" class="form-control" name="datainicio" id="datainicio" required="required"/>
                          <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                          </span>
                      </div>
                    <!-- Fim da Data de Publicação -->

                    <!-- Data Final de Publicação -->
                      <div id="datafinal">
                        <label for="datafinal">Selecione a data final de exibição</label>
                        <input type="text" class="form-control" name="datafinal" id="datafinal" required="required"/>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        </span>
                      </div>
                   <!-- Fim da Data Final de Publicação -->

                   <!-- Endereço url da notícia -->
                      <label>Endereço de acesso de sua publicação em outro site</label>
                      <input type="text" class="input-block-level" id="src" name="src" placeholder="Endereço de acesso" />
                      <span class="help-block"></span>   
                    <!-- Fim do  Endereço url da notícia -->

                     <!-- Parceiro da publicação-->
                      <label>Selecione um parceiro para divulgação em sua publicação</label>
                      <input type="text" data-provide="typeahead" id="typeahead" required="required" name="parceiro">
                    <!-- Fim do Parceiro da publicação --> 

                    <!-- Editor de texto da notícia-->
                      <label><h4 class="widgettitle">Cadastre um conteúdo de descrição para sua publicação</h4></label>                    
                      <textarea  class="ckeditor" name="editor1" id="editor1"></textarea>
                    <!-- Fim do  Editor de texto da notícia-->

                    <!-- Fonte da notícia -->
                      <label><h4 class="widgettitle">Caso sua publicação seja conteúdo de terceiros preencha os campos a seguir</h4></label>  
                      <label>Nome da fonte de origem do conteúdo</label>
                      <input type="text" class="input-block" id="nome_fonte" name="nome_fonte" placeholder="Nome da Fonte" />
                      <label>Insira o endereço de acesso original do conteúdo</label>
                      <input type="text" class="input-block-level" id="url_fonte" name="url_fonte" placeholder="URL de destino do conteúdo" />
                      <span class="help-block"></span>   
                    <!-- Fim do  Fonte  da notícia -->

                    <!-- Botão de Publicar notícia-->
    						      <center><button id="SubmitBtn" name="SubmitBtn" type="submit" class="btn btn-large btn-inverse">Cadastrar Publicação</button></center>
                    <!-- Fim do Botão de Publicar notícia-->
  						    </form>
						    </div>
						  </div>                         
            </div>
          </div>

 

                <!-- Place inside the <head> of your HTML -->
  

    <script src="/editor/ckeditor.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
  <script type="text/javascript">

    $('#typeahead').typeahead({
          source: function (query, process) {
              return $.getJSON(
                  'loadparceiros',
                  { nome: query },
                  function (data) {
                      var newData = [];
                      console.log("data " + data);
                      $.each(data, function(){
                        console.log("data2 " + this.nome_parceiro);
                          newData.push(this.nome_parceiro);
                      });
                      return process(newData);

                  }); 
          }

      });

      $('#datafinal').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });

       $('#datainicio').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });

      $(document).ready(function () {
      var datainicio = $("#datainicio");
      var titulo = $("#titulo");
      var LoginForm = $('#LoginForm');
      var SubmitBtn = $('#SubmitBtn');
   
      LoginForm.validate();
   
      datainicio.rules("add", {
        required: true,
        length: 9,
        messages: {
          required: "Você deve preencher data de início",
          rangelength: "Data inválida"
        }
      });
      titulo.rules("add", {
        required: true,
        messages: {
          required: "Titulo é obrigatório."
        }
      });
   
      $('#LoginForm').submit(function () {
        if ($(this).valid()) {
          $('#SubmitBtn').prop('disabled', true);
          return true;
        }
        return false;
      });
   
    });


</script>
<% include admin-footer %> 