<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Seja Bem Vindo ao Mundo Gamer</title>
        
        <!-- The stylesheet -->
        <link rel="stylesheet" href="/breve/styles.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/breve/css/images/favicon.ico" />
  <link rel="stylesheet" href="/breve/css/style.css" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Jura:400,500,600,300' rel='stylesheet' type='text/css' />

  <script src="/breve/js/jquery-1.8.0.min.js" type="text/javascript"></script>
  <script src="/breve/js/jquery.touchwipe.1.1.1.js" type="text/javascript"></script>
  <script src="/breve/js/jquery.carouFredSel-5.5.0-packed.js" type="text/javascript"></script>

  <script src="/breve/js/functions.js" type="text/javascript"></script>
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

            <!-- Adsense do Banner Superior -->
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Mundo Gamer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-0061672681197040"
     data-ad-slot="5031969888"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
<!-- Fim do Adsense do Banner Superior -->
       
    
    <body>      
	 			<div class="slider">
          <div id="bg"></div>
          <div id="carousel">
            <div>
              <h5>Seja Bem Vindo ao </h5>
              <h3>Mundo Gamer</h3>
              <p><b>O mundo gamer é destinado aos gamers brasileiros com notícias, promoções e conteúdos exclusivos. Acesse www.mundogamer.com.br e conheça.</b></p>
              <a href="https://www.facebook.com/brasilmundogamer" class="green-btn">Acessar Facebook</a>
              <img class="img-front" src="/breve/css/images/front-img.png" alt="dot1" width="263" height="436" />
              <img class="img-mid" src="/breve/css/images/img-mid.png" alt="dot2" width="230" height="363" />
              <img class="img-back" src="/breve/css/images/img-back.png" alt="dot3" width="195" height="304" />
            </div>

            <div>
              <h5>Promoção da semana com parceria da</h5>
              <h3>Spacegamespsn</h3>
              <p><b>A Spacegamespsn e o Mundo Gamer estão realizando uma promoção realizando o sorteio de um Call of Duty em Mídia Virtual para Playstation 3.Acesse já e concorra!</b></p>
              <a href="https://www.facebook.com/photo.php?fbid=474860329280563&set=a.429168133849783.1073741828.417660025000594&type=1&theater" class="green-btn">Acessar Promoção</a>
              <img class="img-mid" src="/breve/css/images/promocoes/Call-of-Duty-Ghosts.png" alt="dot1" width="300" height="300" />
            </div>

            <div>
              <h5>Conheça o canal Mundo Gamer no </h5>
              <h3>Youtube</h3>
              <p><b>Acesse o nosso canal no youtube e confira as principais notícias e trailers do Mundo Gamer. Em breve estaremos realizando o lançamento de diversos gameplays e o jornal Mundo Gamer.</b></p>
              <a href="https://www.youtube.com/brasilmundogamer" class="green-btn">Acessar Canal</a>
              <img class="img-mid" src="/breve/css/images/youtube.png" alt="dot1" width="400" height="400" />

            </div>

            <div>
              <h5>Conheça os aplicativos do Mundo Gamer </h5>
              <h3>Em breve</h3>
              <p><b>Acompanhe o melhor do Mundo Gamer em seu celular instalando os aplicativos do Mundo Gamer para aparelhos com sistema operacional Android e IOS..</b></p>
              <a href="#" class="green-btn">Instalar</a>
              <img class="img-front" src="/breve/css/images/front-img.png" alt="dot1" width="263" height="436" />
              <img class="img-mid" src="/breve/css/images/img-mid.png" alt="dot2" width="230" height="363" />
              <img class="img-back" src="/breve/css/images/img-back.png" alt="dot3" width="195" height="304" />
            </div>

          </div>
          <div class="pagination"></div>
          <a id="prev" href="#"></a>
          <a id="next" href="#"></a>
        </div>
    </head>

        <footer>
          <div class="socials">
              <p>Para se tornar parceiro do <strong>Mundo Gamer</strong> por favor entre em contato através do e-mail<span><a href="#"> contato@mundogamer.com.br</a></span></p>

              <section class="partners">
                  
                  <div id="partners-slider">
                    <div class="slider-holder2">

                        <a href="http://www.sulgames.com.br"<img src="/breve/css/images/parceiros/partners1.png" width="92" height="52"  /></a>
                        <img src="/breve/css/images/parceiros/partners2.png" width="172" height="52" />
                        <img src="/breve/css/images/parceiros/partners3.png" width="236" height="52" />
                        <img src="/breve/css/images/parceiros/partners4.png" width="121" height="52" />
                        <img src="/breve/css/images/parceiros/partners1.png" width="92" height="52" />
                        <img src="/breve/css/images/parceiros/partners2.png" width="172" height="52" />
                        <img src="/breve/css/images/parceiros/partners3.png" width="236" height="52" />
                        <img src="/breve/css/images/parceiros/partners4.png" width="121" height="52" />
                    </div>
                  </div>

              </section>

            </div>

        <!--
	        <center><a href="https://www.mundogamer.com.br" target="_blank"><img src='images/logo.png' alt="Mundo Gamer" /></a>
          <a href="https://www.youtube.com/brasilmundogamer" target="_blank"><img src='images/youtube.png' alt="Canal Mundo Gamer"/></a>
          <a href="https://www.facebook.com/brasilmundogamer" target="_blank"><img src='images/facebook.png' alt="Mundo Gamer"/></a>
          <a href="https://www.twitter.com/brasilmundogame" target="_blank"> <img src='images/twitter.png' alt="Mundo Gamer"/></a>

          </center>
        !-->

        </footer>
          

        		<!-- Código de Análise do Google Analitics -->
  		      <script>
  							(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                          
                            ga('create', 'UA-45182358-1', 'mundogamer.com.br');
                            ga('send', 'pageview');
                          
               </script>
               <!-- Fim do Código de Análise do Google Analitics -->

    </body>
</html>