 <!-- Footer container -->

        <div id="footer">
          <footer>
            <div class="container"><!-- container footer -->
              <div class="row">

                <div class="col-md-2 col-sm-2">
                  <ul class="menuFooter">
                    <p class="footer-title">Mundo Gamer&nbsp;</p> 
                    <li><a href="/contato"> Contato&nbsp; </a></li>
                    <li><a href="/"> Notícias&nbsp; </a></li>
                    <li><a href="/sobre"> Sobre&nbsp; </a></li>
                    <li><a href="/wikigamer"> WikiGamer&nbsp; </a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-sm-2">
                  <ul class="menuFooter">
                    <p class="footer-title">Aplicativos&nbsp;</p> 
                    <li><a href="#"> Android&nbsp; </a></li>
                    <li><a href="#"> iOS&nbsp; </a></li>
                    <li><a href="#"> Windows Phone&nbsp; </a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-sm-2">
                  <ul class="menuFooter">
                    <p class="footer-title">Redes Sociais</p> 
                    <li><a href="https://facebook.com/brasilmundogamer" target="_blank"> Facebook</a></li>
                    <li><a href="https://instagram.com/brasilmundogamer" target="_blank"> Instagram</a> </li>
                    <li><a href="https://twitter.com/brasilmundogame" target="_blank"> Twitter</a></li>
                    <li><a  href="http://www.twitch.com/brasilmundogamer" target="_blank""> Twitch</a></li>
                    <li><a href="https://youtube.com/brasilmundogamer" target="_blank"> Youtube</a></li>
                  </ul>
                </div>

                <div class="col-md-2 col-sm-2">
                  <ul class="menuFooter">
                    <p class="footer-title">Participe</p> 
                    <li><a href="https://www.facebook.com/groups/brasilmundogamer/" target="_blank"> Grupo Facebook </a></li>
                    <li><a href="https://plus.google.com/communities/111740468730011481357" target="_blank"> Grupo Google+ </a></li>
                  </ul>
                </div>



              </div>
            </div>
              <p class="muted credit" align="center">Todos Direitos Reservados<br> <a href="http://www.mundogamer.com.br">Mundo Gamer</a></p>
            </div><!-- /.container footer -->
            
          </footer>
        </div><!-- /.footer -->
