<!DOCTYPE html>
<html>

<head>
    
    <!-- Meta do Bing -->
     <meta name="msvalidate.01" content="A5436FA15E86A82C20783D38485927D3" />
    <!-- Fim do Bing -->   

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <!-- Loading Bootstrap -->
    <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/home/css/flat-ui.css" rel="stylesheet">
    


    <link rel="shortcut icon" href="/images/favicon.ico">

            <!--para o sistema Open Graph-->
        <meta property="og:site_name" content="Mundo Gamer">
        <meta property="og:title" content="Mundo Gamer - Venha fazer parte desse Mundo">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.mundogamer.com.br">
        <meta property="og:image" content="http://www.mundogamer.com.br/images/default.png">
        <meta property="og:description" content="Fique por dentro de tudo que acontece no Mundo Gamer">
        <meta property="fb:admins" content="1541352318">
        <meta property="fb:app_id" content="625583237494479">
        <meta property="fb:page_id" content="417660025000594"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fim do código para TAGS de compartihamento do site no Facebook -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
		<script src="/home/js/html5shiv.js"></script>
		<script src="/home/js/respond.min.js"></script>
		<![endif]-->

    <!-- Código de Análise do Google Analitics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45182358-1', 'mundogamer.com.br');
  ga('send', 'pageview');

</script>
    <!-- Fim do Código de Análise do Google Analitics -->



<div class="responsive">
    <image src="home/images/background/fundo2.jpg"  >
 </div>


</head>

<body>
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation" style="height:53px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">
                    <li class="<% if( id==0 ){ %>
							active
						<% } %>">
                        <h2><a href="/" title="home">Home</a><h2>
                    </li>
                    <li class="<% if( id==1 ){ %>
							active
						<% } %>">
                        <h2><a href="/aplicativos" title="aplicativos">Aplicativos</a></h2>

                    </li>


                    <li class="<% if( id==3 ){ %>
							active
						<% } %>">
                        <h2><a href="/sobre" title="sobre">Sobre</a></h2>
                    </li>
                   <li class="dropdown">
                        <li class="<% if( id==4 ){ %>
    							active
    						<% } %>">
                            <h2><a href="/contato" title="contato">Contato</a></h2>
                        </li>
                    </li> 

                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </nav>
        <!-- /navbar -->
    </div>
