 <!-- Navbar container -->

     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01"><span class="sr-only">Toggle navigation</span></button>
              <a class="navbar-brand" href="/">
              <img style="margin-top: -11px; margin-bottom: -14px;" class="img-responsive" src="/images/logo_beta.png" alt="Mundo Gamer" title="Mundo Gamer"></a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-01">

            <ul class="nav navbar-nav">
              <li class="<% if( id==0 ){ %>
                active
                <% } %>">
                <a href="/aplicativos" title="aplicativos">Aplicativos</a>
              </li>

              <!-- <li class="<% if( id==1 ){ %>
                active
                <% } %>">
                <a href="/" title="home">Notícias</a>
              </li> -->

              <li class="<% if( id==2 ){ %>
                active
                <% } %>">
                <a href="/sobre" title="sobre">Sobre</a>
              </li>

              <li class="<% if( id==3 ){ %>
                active
                <% } %>">
                <a href="/wikigamer" title="Wikigamer">WikiGamer</a>
              </li>

              <li class="dropdown">
                <li class="<% if( id==4 ){ %>
                  active
                  <% } %>">
                  <a href="/contato" title="contato">Contato</a>
                </li>
              </li> 



            </ul>

            <div style="position:relative; float:right; margin-right: 60px; ">
              
              <a  href="https://facebook.com/brasilmundogamer" target="_blank" ><img src="/home/images/footer/facebook2.png" alt="Facebook" /></a>
              <a  href="https://instagram.com/brasilmundogamer" target="_blank"><img src="/home/images/footer/instagram.png" alt="Instagram"/></a>
              <a href="https://twitter.com/brasilmundogame" target="_blank"  ><img  src="/home/images/footer/twitter.png" alt="Twitter"></a>
              <a href="http://www.twitch.com/brasilmundogamer" target="_blank" ><img src="/home/images/footer/twitch.png" alt="Twitch"></a>
              <a href="https://youtube.com/brasilmundogamer?sub_confirmation=1" target="_blank" ><img src="/home/images/footer/youtube2.png" alt="Youtube"></a>
              <a href="#" ><img src="/home/images/footer/rss.png" alt="Rss"></a>
              <a href="/login"><button type="button" class="btn btn-mini btn-danger"> Login</button></a>
            </div>
         ]
        </div><!-- /.container-fluid -->
    </nav>
      <!-- /. Navbar container -->
      <br><br> 

