<!DOCTYPE html>
<html>

<head>
    
    <meta name="description" content="No mundo gamer você encontra diariamente as últimas noticias, análises e promoções de games.Venha você fazer parte desse mundo.">
    <meta name="keywords" content="aplicativos,notícias,promoções,sorteios,games,contato,sobre,mundo,gamer,publicidade">
    <title>Mundo Gamer - Notícias,Aplicativos e Promoções é no Mundo Gamer</title>
    <meta name="robots" content="index, follow">
    <meta name="language" content="Portuguese">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <!-- Meta do Bing -->
     <meta name="msvalidate.01" content="A5436FA15E86A82C20783D38485927D3" />
    <!-- Fim do Bing -->     

            <!-- Evitando cópias de conteúdo no site -->
        <script language='JavaScript'> 
        //Bloqueador de Selecao - iceBreaker http://www.icebreaker.com.br/ 
        function bloquear(e){return false} 
        function desbloquear(){return true} 
        document.onselectstart=new Function (&quot;return false&quot;) 
        if (window.sidebar){document.onmousedown=bloquear 
        document.onclick=desbloquear} 
        </script>
        <!-- Fim de cópias de conteúdo no site -->

    <!-- Loading Bootstrap -->
    <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/home/css/flat-ui.css" rel="stylesheet">
    


    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
		<script src="/home/js/html5shiv.js"></script>
		<script src="/home/js/respond.min.js"></script>
		<![endif]-->

    <!-- Código de Análise do Google Analitics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45182358-1', 'mundogamer.com.br');
  ga('send', 'pageview');

</script>
    <!-- Fim do Código de Análise do Google Analitics -->



</head>

<body onselectstart='return false'> <!-- Onselect bloqueia a cópia do conteúdo do site -->
    <% include navbar %> 