<!DOCTYPE html>
<% include paginas-header %>   
    <div class="container">

      <div class="demo-row typography-row">

      <div style="text-align: justify;">
          <span style="color: rgb(52, 73, 94); font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; line-height: 30.999961853027344px; background-color: rgb(255, 255, 255);">O aplicativo <strong>Mundo Gamer</strong> proporciona o usu&aacute;rio acompanhar as principais novidades e curiosidades sobre games atrav&eacute;s de seu smartphone. Voc&ecirc; poder&aacute; acompanhar os feeds de not&iacute;cias, promo&ccedil;&otilde;es, participar de pesquisas ou enquetes realizadas pelas principais empresas do segmento no Brasil, al&eacute;m de proporcionar ao usu&aacute;rio publicar conte&uacute;dos pr&oacute;prios interagindo com demais usu&aacute;rios ou empresas. O aplicativo estar&aacute; dispon&iacute;vel nas principais lojas de aplicativos do mercado atualmente em breve.</span>
      </div>
        <div>
          &nbsp;
        </div>
        <h1 class="tile-title">Plataformas</h1>
        <div>
          &nbsp;
        </div>
          <div class="row demo-tiles">
            <div class="col-xs-3">
              <div class="tile tile-hot">
                <img src="/home/images/icons/png/playstore.png" alt="Compas" class="tile-image big-illustration">
                <h4 class="tile-title">Aplicativo Android</h4>
                <p>Instale o aplicativo Mundo Gamer e receba em seu smartphone o melhor conteúdo de games.</p>
                <a class="btn btn-block btn-lg btn-default disabled" href="http://mundogamer.com.br">Instalar</a>
              </div>
            </div>

            <div class="col-xs-3">
              <div class="tile tile-hot">
                <img src="/home/images/icons/png/apple.png" alt="Infinity-Loop" class="tile-image">
                <h4 class="tile-title">Aplicativo IOS</h4>
                <p>Instale o aplicativo Mundo Gamer e receba em seu smartphone o melhor conteúdo de games.</p>
                <a class="btn btn-block btn-lg btn-default disabled" href="http://mundogamer.com.br">Instalar</a>
              </div>
            </div>

            <div class="col-xs-3">
              <div class="tile tile-hot">
                <img src="/home/images/icons/png/win.png" alt="Pensils" class="tile-image">
                <h4 class="tile-title">Aplicativo Windows</h4>
                <p>Instale o aplicativo Mundo Gamer e receba em seu smartphone o melhor conteúdo de games.</p>
                <a class="btn btn-block btn-lg btn-default disabled" href="http://mundogamer.com.br">Instalar</a>
              </div>
            </div>

            <div class="col-xs-3">
                <div class="tile">
                  <img src="/home/images/icons/png/laptop.png" alt="Pensils" class="tile-image">
                  <h4 class="tile-title">Site Mundo Gamer</h4>
                  <p>Acesse o melhor conteúdo do Mundo Gamer através de seu computador acessando o site.</p>
                </div>
           </div>
          </div> <!-- /tiles -->
      	</div><!-- /.demo-content-wide -->
      </div>

      </br>
      </br>

        


    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
              <h3 class="footer-title">Contato</h3>
              Gostaria de conhecer mais sobre o projeto ou entrar em contato sobre algum assunto específico.Entre em contato conosco através dos seguintes contatos.<br/>
            </p>
          E-mail: contato@mundogamer.com.br<br><br>
          <a  href="https://facebook.com/brasilmundogamer" target="_blank">
              <img src="/home/images/footer/facebook2.png" alt="facebook" />
            </a>
            <a  href="https://twitter.com/brasilmundogame" target="_blank">
              <img src="/home/images/footer/twitter.png" alt="twitter" />
            </a>
            <a  href="https://youtube.com/brasilmundogamer" target="_blank">
              <img src="/home/images/footer/youtube2.png" alt="twitter" />
            </a>
            


          </div> <!-- /col-xs-7 -->

          <div class="col-xs-5">
            <div class="footer-banner">
              <h3 class="footer-title">Oferta Indicada</h3>
              <ul>
                <li>A Sul Games está com uma super promoção</li>
                <li>de games com preços promocionais</li>
                <li>GTA 5 para Playstation 3 R$ 149,90</li>

              </ul>
              Site da Empresa: <a href="http://www.sulgames.com.br" target="_blank">Sul Games</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
       <!-- Load JS here for greater good =============================-->
    <script src="/home/js/jquery-1.8.3.min.js"></script>
    
  </body>
</html>