  <!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="No mundo gamer você encontra as últimas noticias de games, as melhores análises e promoções. O melhor do Mundo Gamer você encontra aqui">
    <meta name="keywords" content="videogames, games xbox one, nintendo 3ds games,notícias games, lançamento de games, notícias de jogos, ps4, Xbox, Xbox Live, PSN, Nintendo, news games, games, Wii U, psn games">
    <title>Seja parceiro do Mundo Gamer e seja divulgado em nossas páginas</title>
    <meta name="robots" content="index, follow">
    <meta name="language" content="Portuguese">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="picturefill.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Evitando cópias de conteúdo no site -->
    <script language='JavaScript'> 
          //Bloqueador de Selecao - iceBreaker http://www.icebreaker.com.br/ 
          function bloquear(e){return false} 
          function desbloquear(){return true} 
          document.onselectstart=new Function (&quot;return false&quot;) 
          if (window.sidebar){document.onmousedown=bloquear 
            document.onclick=desbloquear} 
    </script>
    <!-- Fim de cópias de conteúdo no site -->
          <!-- Meta do Bing -->
          <meta name="msvalidate.01" content="A5436FA15E86A82C20783D38485927D3" />
          <!-- Fim do Bing -->   
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- Loading Bootstrap -->
          <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">
          <!-- Loading Flat UI -->
          <link href="/home/css/flat-ui.css" rel="stylesheet">
          <link rel="shortcut icon" href="/images/favicon.ico">

      <!-- Código de Análise do Google Analitics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45182358-1', 'mundogamer.com.br');
        ga('send', 'pageview');
      </script>
      <!-- Fim do Código de Análise do Google Analitics -->
  </head>
     <% include navbar %> 
     <body onselectstart='return false' ondragstart='return false'> <!--Bloqueia a cópia de conteúdo--> 
        <!-- Container --> 
        <div class="container">   
          <!-- Coluna da noticias -->
          <div class="col-md-12">
            <center><h4>Parceria Mundo Gamer</h4></center>
              <!-- Titulo da noticias -->
              <div style="text-align: justify;"class="demo-row typography-row">
                  O <strong>Mundo Gamer</strong> permite aos parceiros a divulgação de suas marcas em nosso site através de banners no canto direito em nossas publicações e em eventos em que realizamos a cobertura com o formato de patrocínio.Caso sua empresa tenha o interesse em realizar parceria com o Mundo Gamer basta preencher o formulário a seguir que entraremos em contato.
              </div>
              <br>
          </div>
                <div class="panel-body">
                    <form id="LoginForm" role="form" class="form-horizontal" enctype="multipart/form-data" autocomplete="off"  method="post">
                       <div class="col-lg-6">
                          <!-- Campo Nome do Parceiro -->
                         <p><label>Nome do Parceiro&nbsp;</label>
                         <input type="text"class="form-control"id="nome_parceiro" name="nome_parceiro"placeholder="Nome do parceiro"required="required"/></p>
                         <!-- Fim do Campo Nome do Parceiro -->

                         <!-- Campo Nome do Parceiro -->
                         <p><label>E-mail de contato&nbsp;</label>
                         <input type="text" class="form-control" id="email_contato" name="email_contato" placeholder="Digite o e-mail de contato" required="required" /></p>
                         <!-- Fim do Campo Nome do Parceiro --> 

                         <!-- Campo Estado do Parceiro -->
                         <p><label>Estado&nbsp;</label>
                         <select  name="herolist" id="estado_parceiro" class="select-block" required="required"></select></p>
                         <!-- Fim do Estado Nome do Parceiro -->  

                         <!-- Campo Cidade do Parceiro -->
                         <p><label>Cidade&nbsp;</label>
                         <select  name="herolist" id="cidade_parceiro" class="select-block" required="required"></select></p>
                         <!-- Fim do Cidade Nome do Parceiro --> 

                         <!-- categoria da notícia-->
                         <p><label>Categoria:</label>
                         <select  name="herolist" id="categoria" class="select-block" required="required">
                                 <option value="0">Selecione uma Categoria</option>
                                 <option value="Blog/Site">Blog/Site</option>          
                                 <option value="Loja">Loja</option>
                                 <option value="Página no Facebook">Página Facebook</option>
                                 <option value="Outros">Outros</option>
                         </select></p>                         
                         <!-- Fim da categoria da notícia -->
                       </div>

                       <div class="col-lg-6">
                           <!-- Campo Site do Parceiro -->
                           <p><label>Site</label>
                           <input type="text" class="form-control" id="site " name="site" placeholder="http://meusite.com"/></p>
                           <!-- Fim do Campo Site do Parceiro -->

                           <!-- Campo Twitter do Parceiro -->
                           <p><label>Perfil Twitter</label>
                           <input type="text"  placeholder="Endereço Twitter" id="twitter" name="twitter" class="form-control"/></p>
                           <!-- Fim Campo Twitter do Parceiro -->

                           <!-- Campo Facebook do Parceiro -->
                           <p><label>Página Facebook</label>
                           <input type="text" name="facebook" id="facebook" class="form-control" placeholder="http://www.facebook.com/minhapagina"/></p>
                           <!-- FIM do Campo Facebook do Parceiro -->

                           <!-- Campo Instagram do Parceiro -->
                           <p><label>Instagram</label>
                           <input type="text" name="instagram" id="instagram" class="form-control" placeholder="Endereço Instagram"/></p>
                           <!-- Fim do Campo Instagram do Parceiro -->

                           <!-- Campo Canal do Youtube do Parceiro -->
                           <p><label>Canal Youtube</label>
                           <input type="text" name="canal_youtube" id="canal_youtube" class="form-control" placeholder="Endereço do canal"/></p>
                           <!-- Fim do Campo Canal do Youtube do Parceiro -->  
                           <br>   
                      </div>
                      <!-- Botão de Cadastrar -->

                      <p><center><button id="SubmitBtn" name="SubmitBtn" type="submit" class="btn btn-large btn-inverse">Enviar Cadastro</button>
                        </center></p>
                    </form>                           
                </div>
        </div>  <!-- /.Container -->  
          <!-- footer -->
          <br>
          <footer>
            <div id="footer">
                <div class="container"><!-- container footer -->
                    <p class="muted credit" align="center">Todos Direitos Reservados<br> <a href="http://www.mundogamer.com.br">Mundo Gamer</a></p>
                </div><!-- /.container footer -->
            </div><!-- /.footer -->
          </footer>
        <!-- Load JS here for greater good =============================-->
        <script src="/home/js/jquery-1.8.3.min.js"></script>
        <script src="/home/js/bootstrap-select.js"></script>
        <script src="/home/js/application.js"></script>
        <script src="/home/js/bootstrap.min.js"></script> 
        <script src="/home/js/typeahead.bundle.js "></script> 
        <script type="text/javascript" src="http://cidades-estados-js.googlecode.com/files/cidades-estados-v0.2.js"></script> 
        <script type="text/javascript">
            window.onload = function() {
                new dgCidadesEstados( 
                    document.getElementById('estado_parceiro'), 
                    document.getElementById('cidade_parceiro'), 
                    true
                );
            }
        </script>
     </body>
</html>
