<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="Conheça o projeto Mundo Gamer e veja os benefícios em fazer parte desse mundo.">
    <meta name="keywords" content="games, playstation, xbox, nintendo, sony, microsoft, pc, notícias,promoções, gameplay, análises, contato, mundogamer, gamer, aplicativos">
    <title>Conheça os aplicativos do Mundo Gamer</title>
    <meta name="robots" content="index, follow">
    <meta name="language" content="Portuguese">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Meta do Bing -->
     <meta name="msvalidate.01" content="A5436FA15E86A82C20783D38485927D3" />
    <!-- Fim do Bing -->     

    <!-- Loading Bootstrap -->
    <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/home/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">

</head>
    <% include navbar %> 
    <body onselectstart='return false' ondragstart='return false'> <!-- Onselect bloqueia a cópia do conteúdo do site -->  
    <center>
                 <!-- MundoGamer Blog -->
                 <script type="text/javascript">  
                     google_ad_client = "ca-pub-0061672681197040";  
                     google_ad_slot = "";  
                     if(window.innerWidth >= 800) {  
                      //visible-desktop  
                      //Medium Rectangle  
                      google_ad_slot = "2984023486";  
                      google_ad_width = 728;  
                      google_ad_height = 90;  
                     }  
                     else if((window.innerWidth > 480)&&(window.innerWidth < 800)) {  
                      //visible-tablet  
                      //Square  
                      google_ad_slot = "6709861485";  
                      google_ad_width = 320;  
                      google_ad_height = 100;  
                     }  
                     else if(window.innerWidth <= 480) {  
                      //visible-phone  
                      //Large Rectangle  
                      google_ad_slot = "6709861485";  
                      google_ad_width = 320;  
                      google_ad_height = 100;  
                     }  
                     if(google_ad_slot != "")  
                      document.write(' <scr'+'ipt type=\"text/javascript\" src=\"http://pagead2.googlesyndication.com/pagead/show_ads.js\"></scri'+'pt>');  
                  </script>  
          </center>   
      <br>
      <div class="container">

        <div class="demo-row typography-row">

    	      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;O &nbsp;<strong>Mundo Gamer</strong> foi idealizado no ano de 2013, com intuito de realizar a interatividade de sites e empresas com trabalho especializado em jogos eletr&ocirc;nicos &nbsp;com os gamers no Brasil.Buscando realizar essa interatividade disponibilizaremos aos usu&aacute;rios do projeto ferramentas de se manterem conectados aos melhores conte&uacute;dos como not&iacute;cias, promo&ccedil;&otilde;es e eventos de games no Brasil podendo receber informa&ccedil;&otilde;es espec&iacute;ficas em seu smartphone no aplicativo Mundo Gamer ou em sua &aacute;rea administrativa do site.<br>
            &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; As empresas parceiras do projeto poder&atilde;o visualizar informa&ccedil;&otilde;es espec&iacute;ficas sobre os usu&aacute;rios do sistema podendo identificar o perfil gamer melhorando a sua forma de atua&ccedil;&atilde;o e alcan&ccedil;ando seu p&uacute;blico-alvo de forma precisa. O sistema possui como site principal um centralizador de conte&uacute;dos podendo ser um espa&ccedil;o virtual para publica&ccedil;&otilde;es diversas fazendo com que os usu&aacute;rios tenham o interesse de acessar diariamente buscando benef&iacute;cios e as novidades do Mundo Gamer.
        </div>
        <div class="row demo-tiles">
            <div class="col-xs-3">
              <div class="tile">
                <img src="/home/images/icons/png/noticias.png" alt="Compas" class="tile-image big-illustration">
                <h4 class="tile-title">Notícias</h4>
                <p>Acompanhe diariamente as principais novidades e notícias relacionadas ao Mundo Gamer</p>
                <!-- <a class="btn btn-primary btn-large btn-block" href="http://mundogamer.com.br">Mais informações</a> -->
              </div>
            </div>

            <div class="col-xs-3">
              <div class="tile tile-hot">
                <img src="/home/images/icons/png/aplicativos.png" alt="Infinity-Loop" class="tile-image">
                <h4 class="tile-title">Aplicativos</h4>
                <p>Com o aplicativo Mundo Gamer você acompanha as novidades de seu smartphone.</p>
                <!-- <a class="btn btn-primary btn-large btn-block" href="http://mundogamer.com.br">Mais informações</a> -->
              </div>
            </div>

            <div class="col-xs-3">
              <div class="tile tile-hot">
                <img src="/home/images/icons/png/promocoes.png" alt="Pensils" class="tile-image">
                <h4 class="tile-title">Promoções</h4>
                <p>Participe de promoções realizadas entre o Mundo Gamer e empresas parceiras. </p>
                <!-- <a class="btn btn-primary btn-large btn-block" href="http://mundogamer.com.br">Mais informações</a> -->
              </div>
            </div>

            <div class="col-xs-3">
              <div class="tile tile-hot"> <!-- o tile-hot insere a faixa EM BREVE no quadrado do campo -->
                <img src="/home/images/icons/png/publicidade1.png" alt="Chat" class="tile-image">
                <h4 class="tile-title">Publicidade</h4>
                <p>Cadastre conteúdos no site e conquiste mais público divulgando seu blog, site ou canal no youtube.</p>
                <!-- <a class="btn btn-primary btn-large btn-block" href="http://mundogamer.com.br">Mais informações</a> -->
              </div>
            </div>
        </div> <!-- /tiles -->
      </div><!-- /container -->

    </br>
    </br>
    </br>

  <% include footer %> 
  </body>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/home/js/jquery-1.8.3.min.js"></script>
    <script src="/home/js/bootstrap-select.js"></script>
    <script src="/home/js/application.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/footerfixed.js"></script>
        <!-- Código de Análise do Google Analitics -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45182358-1', 'mundogamer.com.br');
      ga('send', 'pageview');

       /* Adsense */
      (adsbygoogle = window.adsbygoogle || []).push({});
      /* Fim Adsense */

    </script>
    <!-- Fim do Código de Análise do Google Analitics -->
</html>

