<html>
  <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="/home/css/flat-ui.css" rel="stylesheet">
  </head>
  <% include navbar %> 
  <body onselectstart='return false' ondragstart='return false'>

    






    <script src="/home/js/footerfixed.js"></script>
    <% include footer %>  
  </body>
</html>