<html>
  <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="/home/css/flat-ui.css" rel="stylesheet">
  </head>
  <div class="backgroundlogin img"><image src="/images/wikigamer/backgrounds/background3.jpg"></div>
  <body onselectstart='return false' ondragstart='return false'>
   
    <div class="container"> 

    </div>
  </body>
</html>