<!DOCTYPE html>
<html lang="pt">
    <head>
      <meta charset="utf-8">
      <meta name="description" content="No mundo gamer você encontra as últimas noticias de games, as melhores análises e promoções. O melhor do Mundo Gamer você encontra aqui">
      <meta name="keywords" content="videogames, games xbox one, nintendo 3ds games,notícias games, lançamento de games, notícias de jogos, ps4, Xbox, Xbox Live, PSN, Nintendo, news games, games, Wii U, psn games">
      <title>Acesso os melhores conteúdos em nossa WikiGamer </title>
      <meta name="robots" content="index, follow">
      <meta name="language" content="Portuguese">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <!-- Meta do Bing -->
      <meta name="msvalidate.01" content="A5436FA15E86A82C20783D38485927D3" />
      <!-- Fim do Bing -->   
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Início do código para TAGS de compartihamento do site no Facebook -->
      <!--para o sistema Open Graph-->
      <meta property="og:site_name" content="Mundo Gamer">
      <meta property="og:title" content="">
      <meta property="og:type" content="article">
      <meta property="og:url" content="http://www.mundogamer.com.br/wikigamer/">
      <meta property="og:image" content="http://www.mundogamer.com.br/images/wikigamer/wikigamer/banner01.jpg">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:description" content="">
      <meta property="fb:admins" content="1541352318">
      <meta property="fb:app_id" content="625583237494479">
      <meta property="fb:page_id" content="417660025000594"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Fim do código para TAGS de compartihamento do site no Facebook -->

      <!-- Loading Bootstrap -->
      <link href="/home/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- Loading Flat UI -->
      <link href="/home/css/flat-ui.css" rel="stylesheet">
      <link rel="shortcut icon" href="/images/favicon.ico">
    </head>   

  <body onselectstart='return false' ondragstart='return false'> <!--Bloqueia a cópia de conteúdo-->
    <% include navbar %>  
    <div class="container marketing">
        <center>
               <!-- MundoGamer Blog -->
               <script type="text/javascript">  
                   google_ad_client = "ca-pub-0061672681197040";  
                   google_ad_slot = "";  
                   if(window.innerWidth >= 800) {  
                    //visible-desktop  
                    //Medium Rectangle  
                    google_ad_slot = "2984023486";  
                    google_ad_width = 728;  
                    google_ad_height = 90;  
                   }  
                   else if((window.innerWidth > 480)&&(window.innerWidth < 800)) {  
                    //visible-tablet  
                    //Square  
                    google_ad_slot = "6709861485";  
                    google_ad_width = 320;  
                    google_ad_height = 100;  
                   }  
                   else if(window.innerWidth <= 480) {  
                    //visible-phone  
                    //Large Rectangle  
                    google_ad_slot = "6709861485";  
                    google_ad_width = 320;  
                    google_ad_height = 100;  
                   }  
                   if(google_ad_slot != "")  
                    document.write(' <scr'+'ipt type=\"text/javascript\" src=\"http://pagead2.googlesyndication.com/pagead/show_ads.js\"></scri'+'pt>');  
                </script>  
       </center> 
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/wikigamer/wikigamer/banner01.jpg" alt="Wikigamer">
        </div>
        <div class="item">  
          <img src="/images/wikigamer/wikigamer/banner02.jpg" alt="Wikigamer">
        </div>
      </div>
    </div><!-- /.carousel -->
    <br>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="demo-row typography-row">
            <p>O <strong>Mundo Gamer</strong> está trabalhando diariamente para ter em seu site uma das enciclopédias de games mais completas do Brasil, onde é possível pesquisar pela história das diversas plataformas já lançadas até a geração atual, aquele jogo inesquecível, empresas do segmento e principalmente o seu personagem favorito. Com a participação dos autores e parceiros na publicação de conteúdos, faz com que a nossa biblioteca seja atualizada diariamente. Faça já a sua pesquisa e conheça mais sobre o Mundo Gamer com conteúdos exclusivos relacionados a sua pesquisa.</p>
        </div> 

      <!-- Three columns of text below the carousel -->
      <div class="row" >
        <div class="col-sm-12 col-md-12"> 

          <div class="col-xs-4 col-md-2 noticiaanimator">
            <figure>
               <a href="#"><img class="img-circle" src="/images/wikigamer/wikigamer/autores.jpg" alt="Confira as empresas cadastradas no Mundo Gamer" style="max-width: 100%; height: auto;"><center><small>Autores</small></center></a>
            </figure>
          </div><!-- /.col-lg-4 -->

          <div class="col-xs-4 col-md-2 noticiaanimator">
            <figure>
              <a href="/wikigamer/coberturas"><img class="img-circle" src="/images/wikigamer/wikigamer/acessorios.jpg" alt="Confira os acessórios cadastrados no Mundo Gamer" style="max-width: 100%; height: auto;"><center><small>Coberturas</small></center></a>
            </figure>
          </div><!-- /.col-lg-4 -->

          <div class="col-xs-4 col-md-2 noticiaanimator">
            <figure>
              <a href="/wikigamer/parceiros"><img class="img-circle" src="/images/wikigamer/wikigamer/empresas.jpg" alt="Confira as empresas cadastradas no Mundo Gamer" style="max-width: 100%; height: auto;"><center><small>Parceiros</small></center></a>
            </figure>
          </div><!-- /.col-lg-4 -->

          <div class="col-xs-4 col-md-2 noticiaanimator">
            <figure>
              <a href="/wikigamer/jogos"><img class="img-circle" src="/images/wikigamer/wikigamer/jogos.jpg" alt="Confira os jogos cadastrados no Mundo Gamer" style="max-width: 100%; height: auto;"><center><small>Jogos</small></a></center></a>
            </figure>
          </div><!-- /.col-lg-4 -->

          <div class="col-xs-4 col-md-2 noticiaanimator">
            <figure>
              <a href="/wikigamer/personagens"><img class="img-circle" src="/images/wikigamer/wikigamer/personagens.jpg" alt="Confira os personagens cadastrados no Mundo Gamer" style="max-width: 100%; height: auto;"> <center><small>Personagens</small></center> </a>
            </figure>
          </div><!-- /.col-lg-4 -->

          <div class="col-xs-4 col-md-2 noticiaanimator">
            <figure>
              <a href="/wikigamer/plataformas"><img class="img-circle" src="/images/wikigamer/wikigamer/plataformas.jpg" alt="Confira as plataformas cadastradas no Mundo Gamer" style="max-width: 100%; height: auto;"><center><small>Plataformas</small></center></a>
            </figure>
          </div><!-- /.col-lg-4 -->
        </div>
      </div><!-- /.row -->

    <hr class="featurette-divider">
      <!-- START THE FEATURETTES --> 
    </div><!-- /.container -->

  <% include footer %> 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/home/bootstrap/js/bootstrap.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="/home/js/footerfixed.js"></script> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
          /* Adsense */
           (adsbygoogle = window.adsbygoogle || []).push({});
          /* Fim Adsense */

     $(document).ready(function() {
        $('#myCarousel').carousel({
        //options here
        });
    });

              /*Código de Análise do Google Analitics*/
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-45182358-1', 'mundogamer.com.br');
          ga('send', 'pageview');


    </script> 


  </body>
</html>
